:root {
  --primary: #282464;
  --secondary: #1e1a4d;
}

@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

body {
  height: 100vh !important;
}

.active {
  background-color: white !important;
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  transform: translateY(-50%) scale(1.2);
  position: relative;
}

.active svg {
  color: var(--primary);
  transition: 0.5s ease-in-out;
  transform: translateY(7px);
}

.active p {
  display: none;
}

.active::after,
.active::before {
  content: '';
  position: absolute;
  background-color: var(--primary);
  height: 10px;
  width: 10px;
  top: calc(50% - 7px);
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}

.active::after {
  left: -10px;
  border-top-right-radius: 100%;
  box-shadow: 3px -3px 0 white;
}

.active::before {
  right: -10px;
  border-top-left-radius: 100%;
  box-shadow: -3px -3px 0 white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.resturant {
  width: calc(33vw - 20px);
}

@media (min-width: 480px) {
  .resturant {
    width: calc(25vw - 20px);
  }
}

@media (min-width: 660px) {
  .resturant {
    width: calc(20vw - 20px);
  }
}

@media (min-width: 768px) {
  .resturant {
    width: calc(16.6666vw - 20px);
  }
}

@media (min-width: 1024px) {
  .resturant {
    width: calc(14.3vw - 20px);
  }
}

@media (max-width: 520px) {
  .morphism {
    padding: 0 0 0 5px !important;
  }
  .morphism>div {
    padding: 10px 0 !important;
  }
  .morphism button:nth-child(2) {
    display: none;
  }
  .morphism button:nth-child(1) {
    padding: 5px !important;
    width: 84%;
    margin: 0 8%;
  }
}

/* Fade-in effect for delay */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}